.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.progressBar {
    height: 100%;
    background-color: #c1c2c4;
    transition: width 0s linear;
}