.menu_group {
    display: flex;
    margin-bottom: 10px;
}

.menu {
    gap: 12px;
    color: #c2c3c5;
    padding: 16px 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.restaurant_name {
    color: #dbc4a4;
    -webkit-text-stroke: 0.5px #c8a470;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 0;
    text-align: center;
}

.header_title {
    background: #dbc4a4;
    color: #7c4f22;
    margin: 10px;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 5px;
}