.root {
    display: flex;
    gap: 10px;
    color: wheat;
    text-decoration: none;
}

.menuGroup {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.menu {
    gap: 12px;
    color: #c2c3c5;
    padding: 16px 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.headerTitle {
    color: #dac2a2;
    margin: 10px;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 5px;
}

.headings {
    background: #ddc078;
    color: #7c4f22;
    margin: 10px;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 5px;

    &:hover {
        background: #b47434;
        color: #513215;
    }
}

.active {
    background: #7c4f22;
    color: #ddc078;
}