.header {
    font-size: 2em;
    color: #dbc4a4;
    -webkit-text-stroke: 0.5px #c8a470;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 0;
    text-align: center;
}

.footer {
    gap: 12px;
    color: #c2c3c5;
    padding: 16px 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}