.header {
    color: #dbc4a4;
    -webkit-text-stroke: 0.5px #c8a470;
    font-weight: 700;
    margin-bottom: 5px;
}

.footer {
    gap: 12px;
    color: #c2c3c5;
    padding: 16px 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}