.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
}

.title {
    color: #dbc4a4;
    text-decoration: none;
    font: inherit;
    -webkit-text-stroke: 0.5px #c8a470;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.userInfo {
    color: #dbc4a4;
    height: 100%;
    -webkit-text-stroke: 0.5px #c8a470;
    text-align: center;
}