.menu {
    gap: 12px;
    background: #35393c;
    color: #c2c3c5;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

.restaurant-name {
    color: #dbc4a4;
    -webkit-text-stroke: 0.5px #c8a470;
    font-weight: 700;
    text-align: center;
}

.header {
    background: #dbc4a4;
    color: #7c4f22;
    margin: 10px;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 5px;
}

.menu-group {
    display: flex;
}

.menu-item {
    width: 200px;
    padding: 1px 18px;
    color: #dddddd;
    font-size: 1.05rem;
    font-family: 'Segoe UI', Arial, sans-serif;

}

.price-item {
    color: #dbc4a4;
    padding: 3px 18px;
    background: #35393c;
    font-size: 1.05em;
    letter-spacing: 0.5px;
}

.user-name {
    font-weight: bold;
    color: #dbc4a4;
    background: #35393c;
    font-size: 1.25em;
    letter-spacing: 0.5px;
}
