body {
    background-color: #35393c;
}

.menu {
    gap: 12px;
    color: #c2c3c5;
    padding: 16px 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.restaurant-name {
    color: #dbc4a4;
    -webkit-text-stroke: 0.5px #c8a470;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 0;
    text-align: center;
}

.title {
    color: #dbc4a4;
    -webkit-text-stroke: 0.5px #c8a470;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 0;
    text-align: center;
}

.header {
    color: #dbc4a4;
    -webkit-text-stroke: 0.5px #c8a470;
    font-weight: 700;
    margin-bottom: 5px;
}

.header-restaurant {
    background: #dbc4a4;
    color: #7c4f22;
    margin: 10px;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 5px;
}

.button-sign {
    background: #dbc4a4;
    color: #7c4f22;
    display: inline-block;
    width: 25px;
    text-align: center;
}

.button-clear {
    background: #7b4f22;
    color: #f3caa3;
    text-align: center;
}

.menu-group {
    display: flex;
    margin-bottom: 10px;
}

.menu-item {
    width: 200px;
    padding: 1px;
    color: #dac3a3;
    font-size: 1.05rem;
    font-family: 'Segoe UI', Arial, sans-serif;

}

.price-item {
    width: 75px;
    color: #dbc4a4;
    background: #35393c;
    font-size: 1.05em;
    letter-spacing: 0.5px;
}

.user-name {
    font-weight: bold;
    color: #dbc4a4;
    background: #35393c;
    font-size: 1.25em;
    letter-spacing: 0.5px;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

.form-title-item {
    width: 75px;
    font-size: 1.05rem;
    color: #dac3a3;
}

.form-input-item {
    width: 75px;
    color: #f1c9a2;
    background: #7a4f22;
    font-size: 1.05em;
    letter-spacing: 0.5px;
}

.counter {
    width: 20px;
    text-align: center
}

.form-group {
    display: flex;
    padding-right: 50px;
}

.restaurant-tab-button {
    font-size: 1.05em;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #b57534;
    color: #513215;
}

.restaurant-tab-button:disabled {
    font-size: 1.05em;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #7b4f22;
    color: #f3caa3;
}

.grey-star {
    color: gray;
    font-size: 1.5em
}

.gold-star {
    color: gold;
    font-size: 1.5em
}
